In [165]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [94]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1175,tt0339034,12000000,4922166,From Justin to Kelly,Kelly Clarkson|Justin Guarini |Brandon Hensche...,Robert Iscove,The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,Comedy|Romance,20th Century Fox,6/20/2003,3.5,2003
158,tt1911658,132000000,373552094,Penguins of Madagascar,Tom McGrath|Chris Miller|Christopher Knights|C...,Simon J. Smith|Eric Darnell,The Movie Event That Will Blow Their Cover,"Skipper, Kowalski, Rico and Private join force...",92,Family|Animation|Adventure|Comedy,DreamWorks Animation,11/22/2014,6.5,2014
967,tt0256276,25000000,10113733,Possession,Gwyneth Paltrow|Aaron Eckhart|Jeremy Northam|J...,Neil LaBute,The past will connect them. The passion will p...,"Maud Bailey, a brilliant English academic, is ...",102,Drama|Mystery,Warner Bros. Pictures|Focus Features|Baltimore...,10/2/2002,6.6,2002
1693,tt0952640,60000000,361366633,Alvin and the Chipmunks,Jason Lee|David Cross|Cameron Richardson|Jane ...,Tim Hill,Get your squeak on!,A struggling songwriter named Dave Seville fin...,92,Comedy|Music|Family|Fantasy|Animation,Dune Entertainment|Regency Enterprises|Fox 200...,12/13/2007,5.6,2007
683,tt0866439,40000000,84601681,Made of Honor,Patrick Dempsey|Michelle Monaghan|Kevin McKidd...,Paul Weiland,He'll do anything to get the groom out of the ...,Tom and Hannah have been platonic friends for ...,101,Comedy|Romance,Columbia Pictures|Original Film,5/2/2008,5.8,2008

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [177]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data['revenue'] - data['budget']

def pairs(x):
    '''Возвращает все возможные пары'''
    list_general = list(x.split('|'))
    return list(combinations(list_general, 2))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [178]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [179]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [8]:
data[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [180]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[(Jim Cummings, Travis Oates), (Jim Cummings, ...",Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [181]:
answers['4'] = '2. 110'
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [182]:
answers['5'] = '1. 107'
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [183]:
answers['6'] = '5. Avatar (tt0499549)'
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[(Sam Worthington, Zoe Saldana), (Sam Worthing...",James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [184]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [185]:
answers['8'] = '1. 1478'
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [186]:
answers['9'] = '4. The Dark Knight (tt0468569)'
data[data['profit'] == (data[data['release_year'] == 2008].profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[(Christian Bale, Michael Caine), (Christian B...",Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [187]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
data12_14 = data[(data['release_year']>=2012) & (data['release_year']<=2014)]
data12_14[data12_14['profit'] == data12_14['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [188]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
genre = data.genres.apply(lambda x: list(x.split('|')))
genre = genre.explode('genres')
genre.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [53]:
genre_dict = {}
for record in data.genres:
    genre_values = list(record.split('|'))
    for genre in genre_values:
        if genre in genre_dict:
            genre_dict[genre] = genre_dict[genre] + 1
        else:
            genre_dict[genre] = 1
genre_list = list(genre_dict.items())
genre_list.sort(key=lambda x: x[1], reverse=True)
genre_list[0]

('Drama', 782)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [189]:
answers['12'] = '1. Drama'
data_profit = data[data['profit']>0]
genre_profit = data_profit.genres.apply(lambda x: list(x.split('|')))
genre_profit = genre_profit.explode('genres')
genre_profit.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [190]:
answers['13'] = '5. Peter Jackson'
data_dir = data
data_dir['director'] = data_dir.director.apply(lambda x: list(x.split('|'))) # создаем датафрейм, где режиссеры разбиты по строкам
data_dir = data_dir.explode('director')
se = data_dir.groupby('director')['revenue'].sum()
se.sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [191]:
answers['14'] = '3. Robert Rodriguez'
data_dir_gen = data_dir  # название нового датафрейма, где режиссеры и жанры разбиты по строкам
data_dir_gen['genres'] = data_dir.genres.apply(lambda x: list(x.split('|')))
data_dir_gen = data_dir_gen.explode('genres')
data_dir_gen[data_dir_gen['genres'] == 'Action'].director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Andrew Stanton        1
Howard McCain         1
Stuart Beattie        1
Hironobu Sakaguchi    1
Michel Gondry         1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [192]:
answers['15'] = '3. Chris Hemsworth'
data = pd.read_csv('movie_bd_v5.csv')
data_cast = data # новый датафрейм, где актеры разбиты по строкам
data_cast['cast'] = data_cast.cast.apply(lambda x: list(x.split('|')))
data_cast = data_cast.explode('cast')
data_cast[data_cast['release_year'] == 2012].groupby('cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [193]:
answers['16'] = '3. Matt Damon'
data_cast[data_cast['budget']>data_cast['budget'].mean()].cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
ZoÃ« Kravitz          1
Alexander Siddig      1
Elizabeth Reaser      1
Kip Pardue            1
Keith Dallas          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [194]:
answers['17'] = '2. Action'
data = pd.read_csv('movie_bd_v5.csv')
data_gen = data # новый датафрейм, где жанры разбиты по строкам
data_gen['genres'] = data.genres.apply(lambda x: list(x.split('|')))
data_gen = data_gen.explode('genres')
data_gen[data_gen.cast.str.contains('Nicolas Cage')].genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [195]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[(data.production_companies.str.contains('Paramount Pictures'))].sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [196]:
answers['19'] = '5. 2015'
data = pd.read_csv('movie_bd_v5.csv')
data.groupby('release_year').revenue.sum()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [197]:
answers['20'] = '1. 2014'
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[(data.production_companies.str.contains('Warner Bros'))].groupby('release_year').profit.sum().sort_values()

release_year
2000     452631386
2006     620170743
2015     870368348
2002    1022709901
2012    1258020056
2001    1343545668
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [198]:
answers['21'] = '4. Сентябрь'
data = pd.read_csv('movie_bd_v5.csv')
data['month'] = data.release_date.apply(lambda x: list(x.split('/'))[0])
data.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [199]:
answers['22'] = '2. 450'
data = pd.read_csv('movie_bd_v5.csv')
data['month'] = data.release_date.apply(lambda x: int(list(x.split('/'))[0]))
len(data[(data['month'] <= 8) & (data['month'] >= 6)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [202]:
answers['23'] = '5. Peter Jackson'
data = pd.read_csv('movie_bd_v5.csv')
data['month'] = data.release_date.apply(lambda x: int(list(x.split('/'))[0]))
data_winter = data[(data['month'] <= 2) | (data['month'] == 12)]
data_winter['director'] = data_winter.director.apply(lambda x: list(x.split('|')))
data_winter = data_winter.explode('director')
data_winter.director.value_counts()

<ipython-input-202-cafe37460836>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_winter['director'] = data_winter.director.apply(lambda x: list(x.split('|')))

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Martin Scorsese      4
Adam Shankman        4
                    ..
Mike McCoy           1
D.J. Caruso          1
Uwe Boll             1
Tom Shadyac          1
Kurt Wimmer          1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [203]:
answers['24'] = '5. Four By Two Productions'
data = pd.read_csv('movie_bd_v5.csv')
data_stu = data # новый датафрейм, где студии разбиты по строкам
data_stu['production_companies'] = data.production_companies.apply(lambda x: list(x.split('|')))
data_stu = data_stu.explode('production_companies')
data_stu['len_title'] = data_stu.original_title.apply(lambda x: len(x))
data_stu.groupby('production_companies').len_title.mean().sort_values()

production_companies
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Name: len_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [204]:
answers['25'] = '3. Midnight Picture Show'
data = pd.read_csv('movie_bd_v5.csv')
data_stu = data # новый датафрейм, где студии разбиты по строкам
data_stu['production_companies'] = data.production_companies.apply(lambda x: list(x.split('|')))
data_stu = data_stu.explode('production_companies')
data_stu['overview_words'] = data_stu.overview.apply(lambda x: len(list(x.split(' '))))
data_stu.groupby('production_companies').overview_words.mean().sort_values()

production_companies
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Henceforth                                13.0
Phantom Four                              13.0
London Boulevard                          13.0
                                         ...
Brookwell-McNamara Entertainment         156.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
Midnight Picture Show                    175.0
Name: overview_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [205]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data[data['vote_average'] > np.percentile(data.vote_average, 99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [206]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
data = pd.read_csv('movie_bd_v5.csv')
cast_pairs = data # датафрейм с разбитыми попарно актерами
cast_pairs['cast'] = cast_pairs.cast.apply(pairs)
cast_pairs = cast_pairs.explode('cast')
cast_pairs.cast.value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Jeremy Piven, Salma Hayek)            1
(Saoirse Ronan, Jake Abel)             1
(Jude Law, Angelina Jolie)             1
(Ben Affleck, Gary Sinise)             1
(Amber Tamblyn, Alexis Bledel)         1
Name: cast, Length: 18121, dtype: int64

# Submission

In [207]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [208]:
# и убедиться что ни чего не пропустил)
len(answers)

27